.vs/*
*.cache
*.dll
*TempFolder*
*.exe
*.pdb
/build/
*.suo
*.user
_ReSharper.*/
*.sdf
*.opensdf
*.tlog
*.log
TestResult.xml
*.VisualState.xml
Version.cs
Version.h
Version.cpp
*.obj
*.FileList*
*FileListAbsolute.txt
*.dll.config
*.xsd


# https://majidg@dev.azure.com/majidg/MinaMeddelanden/_git/MinaMeddelandend





