<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="DigitalMessage.asmx" />
      </files>
    </defaultDocument>
    <directoryBrowse enabled="false" />
  </system.webServer>
  <appSettings>
    <!-- Regex to validate PersonNumber and OrganizationNumber. -->
    <add key="RegexValidationPersonNo" value="^(18|19|20)[0-9][0-9](0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])(\d{4})$" />
    <add key="RegexValidationOrganizationNo" value="(16[2-9]\d{9})" />

    <add key="WriteToFile" value="true" />
    <!--<add key="LogFilePath" value="D:\Headlight\Sources\Lekeberg.Personal\Delat\Logs\Mainlogs" />-->
    <add key="LogFilePath" value="D:\Headlight\Sources\Lekeberg.Personal\Delat\logs\log.txt" />
    <add key="ApplicationName" value="MinaMeddelanden" />

    <!-- Properties used for configuration of outlook client addin for integration with packageservice. -->
    <!-- configuration for client -->
    <add key="Reference" value="Lekeberg Kommun integration" />
    <add key="MaxTotalAttachmentSize" value="50480000" />
    <add key="UseExternalDispatcher" value="true"/>
    <add key="MaxAllowedStatusMessages" value="10" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IFaR" openTimeout="00:00:25" closeTimeout="00:00:25" sendTimeout="00:00:25" receiveTimeout="00:00:25">
          <security mode="Transport">
            <transport clientCredentialType="Windows"/>
          </security>
        </binding>
        <binding name="WSHttpBinding_IConfiguration" openTimeout="00:00:25" closeTimeout="00:00:25" sendTimeout="00:00:25" receiveTimeout="00:00:25">
          <security mode="Transport">
            <transport clientCredentialType="Windows"/>
          </security>
        </binding>
        <binding name="WSHttpBinding_IPackage" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" openTimeout="00:00:25" closeTimeout="00:00:25" sendTimeout="00:00:25" receiveTimeout="00:00:25">
          <security mode="Transport">
            <transport clientCredentialType="Windows"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://farserv.sydnarke.se/FaRService.svc"
                binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IFaR"
                contract="SE.GOV.MM.Integration.FaR.Contract.IFaR"
                name="WSHttpBinding_IFaR"/>

      <endpoint address="https://farserv.sydnarke.se/ConfigurationService.svc"
                binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IConfiguration"
                contract="SE.GOV.MM.Integration.FaR.Contract.IConfiguration"
                name="WSHttpBinding_IConfiguration"/>

      <endpoint address="https://farpackage.sydnarke.se/PackageService.svc"
                binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IPackage"
                contract="SE.GOV.MM.Integration.Package.Contract.IPackage"
                name="WSHttpBinding_IPackage"/>
    </client>
  </system.serviceModel>
  <system.web>
    
    <compilation debug="true"/>
  </system.web>
</configuration>