<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
  <appSettings>
    <add key="MaxTotalAttachmentSize" value="50480000" />


    <!-- Regex to validate PersonNumber and OrganizationNumber. -->
    <add key="RegexValidationPersonNo" value="^(18|19|20)[0-9][0-9](0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])(\d{4})$" />
    <add key="RegexValidationOrganizationNo" value="(16[2-9]\d{9})" />

    <!-- Logging -->
    <!-- If you log to file everything logs, trace only logs to file, errors and warnings and info always writes to eventview -->
    <add key="WriteToFile" value="true" />
    <!--<add key="LogFilePath" value="~\logFolder\log.txt" />-->
    <add key="LogFilePath" value="D:\Headlight\Sources\Lekeberg.Personal\Delat\Mina Meddelanden\DigitalEmployment\DigitalEmployment\logs\log.txt" />
    <add key="ApplicationName" value="FaRWebService" />
    <add key="AllowedRole" value="" />
  </appSettings>
</configuration>