<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!-- Internal configuration keys -->
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="ValidateServerCertificate" value="true"/>
    <add key="SenderOrganizationNumber" value=""/>
    <add key="ConfigurationsFilePath" value="DISK\PATH\Configurations.xml" />

    <!-- Properties used for configuration of outlook client addin for integration with packageservice. -->
    <!-- configuration for client -->
    <add key="Reference" value="Outlook integration" />
    <add key="MaxTotalAttachmentSize" value="50480000" />
    <add key="UseExternalDispatcher" value="true"/>
    <add key="MaxAllowedStatusMessages" value="10" />
    <!-- Client adds C:\Users\XXXX\AppData\Roaming -->
    <add key="RelativePathToSignature" value="\\Microsoft\\Signaturer" />

    <!-- Regex to validate PersonNumber and OrganizationNumber. -->
    <add key="RegexValidationPersonNo" value="^(18|19|20)[0-9][0-9](0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])(\d{4})$" />
    <add key="RegexValidationOrganizationNo" value="(16[2-9]\d{9})" />

    <!-- Logging -->
    <!-- If you log to file everything logs, trace only logs to file, errors and warnings and info always writes to eventview -->
    <add key="WriteToFile" value="true" />
    <add key="LogFilePath" value="" />
    <add key="ApplicationName" value="FaRWebService" />
    <add key="AllowedRole" value="" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>

  <system.serviceModel>
    <bindings>
      <!--<basicHttpBinding>
        <binding name="BasicHttpBinding_IFaR" />
        <binding name="BasicHttpBinding_IPackage" />
      </basicHttpBinding>-->
      <!--<wsHttpBinding>
        <binding name="WSHttpBinding_IFaR" openTimeout="00:00:25" closeTimeout="00:00:25" sendTimeout="00:00:25" receiveTimeout="00:00:25">
          <security mode="Transport">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IConfiguration" openTimeout="00:00:25" closeTimeout="00:00:25" sendTimeout="00:00:25" receiveTimeout="00:00:25">
          <security mode="Transport">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IPackage" 
                 maxBufferPoolSize="2147483647" 
                 maxReceivedMessageSize="2147483647" 
                 openTimeout="00:00:25" 
                 closeTimeout="00:00:25" 
                 sendTimeout="00:00:25" 
                 receiveTimeout="00:00:25">
          <security mode="Transport">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
      </wsHttpBinding>-->
    </bindings>
    <client>
      <!--https://notarealhost.skatteverket.se/webservice/acc1accao/Service/v3-->
      <!--address="https://uri.to.service/FaR/FarService.svc"-->

      <!--https://notarealhost.skatteverket.se/webservice/acc1accao/Recipient/v3-->
      <!--https://notarealhost.skatteverket.se/webservice/acc1accao/Service/v3-->
      <!--https://notarealhost.skatteverket.se/webservice/acc1accao/Message/v3-->

      <!--<endpoint address="http://srv-app-53.sydnarke.se:98/FaRService.svc"
               binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFaR"
               contract="SE.GOV.MM.Integration.FaR.Contract.IFaR" name="BasicHttpBinding_IFaR" />-->
                          
      <!--<endpoint
        address=""
        binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_IFaR"
        contract="SE.GOV.MM.Integration.FaR.Contract.IFaR"
        name="WSHttpBinding_IFaR" />

      <endpoint
        address="https://uri.to.service/FaR/ConfigurationService.svc"
        binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_IConfiguration"
        contract="SE.GOV.MM.Integration.FaR.Contract.IConfiguration"
        name="WSHttpBinding_IConfiguration" />

      <endpoint
        address="https://uri.to.service/Package/PackageService.svc"
        binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_IPackage"
        contract="SE.GOV.MM.Integration.Package.Contract.IPackage"
        name="WSHttpBinding_IPackage" />-->

    </client>
  </system.serviceModel>


</configuration>
