<?xml version="1.0"?>
<!-- FARSERVICE -->
<configuration>
  <appSettings>   
    

     <!-- Internal configuration keys -->
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="ValidateServerCertificate" value="true"/>
    <add key="SenderOrganizationNumber" value="162120002981"/>
    <add key="ConfigurationsFilePath" value="DISK\PATH\Configurations.xml" />

    <!-- Properties used for configuration of outlook client addin for integration with packageservice. -->
    <!-- configuration for client -->
    <!--<add key="Reference" value="Outlook integration" />-->
    <add key="MaxTotalAttachmentSize" value="50480000" />
    <add key="UseExternalDispatcher" value="true"/>
    <add key="MaxAllowedStatusMessages" value="10" />
    <!-- Client adds C:\Users\XXXX\AppData\Roaming -->
    <add key="RelativePathToSignature" value="\\Microsoft\\Signaturer" />
   

    <!-- Regex to validate PersonNumber and OrganizationNumber. --><!--
    <add key="RegexValidationPersonNo" value="^(18|19|20)[0-9][0-9](0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])(\d{4})$" />
    <add key="RegexValidationOrganizationNo" value="(16[2-9]\d{9})" />-->

    <!-- Logging -->
    <!-- If you log to file everything logs, trace only logs to file, errors and warnings and info always writes to eventview -->
    <add key="WriteToFile" value="true" />
    <!--<add key="LogFilePath" value="D:\Headlight\Sources\Lekeberg.Personal\Delat\logs\FarsLog"/>-->
    <add key="LogFilePath" value="D:\Headlight\Sources\Lekeberg.Personal\Delat\logs\log.txt" />
    
    <add key="ApplicationName" value="FaRWebService" />
    <add key="AllowedRole" value="" />
  
    
    
  </appSettings>
  <system.web>
    <compilation targetFramework="4.5" debug="true"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <!-- 
        Binding name is the key to attach a binding to a endpoint.
        Bindings: https://msdn.microsoft.com/en-us/library/ms734662(v=vs.110).aspx
      -->
    <bindings>
      <basicHttpBinding>
        <binding name="RecipientBinding">
          <security mode="Transport">
            <transport clientCredentialType="Certificate"/>
          </security>
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="FaRBinding" openTimeout="00:00:15" closeTimeout="00:00:15" sendTimeout="00:00:15" receiveTimeout="00:00:15">
          <security mode="Transport">
            <transport clientCredentialType="Windows"/>
          </security>
        </binding>
        <binding name="ConfigurationBinding" openTimeout="00:00:15" closeTimeout="00:00:15" sendTimeout="00:00:15" receiveTimeout="00:00:15">
          <security mode="Transport">
            <transport clientCredentialType="Windows"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <!--<endpoint address="https://notarealhost.skatteverket.se/webservice/acc1accao/Recipient/v3"--> 
      <!-- RECIPIENTPORTV3 -->
      <endpoint address="https://notarealhost.skatteverket.se/webservice/acc1accao/Recipient/v3" 
                binding="basicHttpBinding" 
                bindingConfiguration="RecipientBinding" 
                behaviorConfiguration="RecipientBinding_Behaviour" 
                contract="RecipientPortv3" 
                name="RecipientPortv3"/>
    </client>
    <services>
      <!-- Service to get configuration properties for client, example Outlook mail client. -->
      <service name="SE.GOV.MM.Integration.FaR.ConfigurationService">
        <endpoint address="" 
                  binding="wsHttpBinding" 
                  bindingConfiguration="ConfigurationBinding" 
                  contract="SE.GOV.MM.Integration.FaR.Contract.IConfiguration" 
                  bindingNamespace="https://SE.GOV.MM.Integration/Configuration/2015/04"/>
      </service>
      <!-- Service to manage incoming requests for lookup in FaR -->
      
      <service name="SE.GOV.MM.Integration.FaR.FaRService">
        <endpoint address="https://farserv.sydnarke.se/FaRService.svc" 
                  binding="wsHttpBinding" bindingConfiguration="FaRBinding" 
                  contract="SE.GOV.MM.Integration.FaR.Contract.IFaR" 
                  bindingNamespace="https://SE.GOV.MM.Integration/FaR/2015/04"/>
      
      <endpoint 
          address="mex" 
          binding="mexHttpBinding" 
          contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <!-- 
          Behaviour for getting certificate for using RecipientBinding and lookup recipients in FaR.  
          Behaviours: https://msdn.microsoft.com/en-us/library/ms731199(v=vs.110).aspx
        -->
      <endpointBehaviors>
        <behavior name="RecipientBinding_Behaviour">
          <clientCredentials useIdentityConfiguration="true">
            <!--<clientCertificate storeLocation="LocalMachine" storeName="My" x509FindType="FindByThumbprint" findValue="454C0B6562C031FDFCA50AFB8CB09820DF6AFAEB"/>-->
            <clientCertificate storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName" findValue="Test_Server"/>

          </clientCredentials>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="false"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="false"/>
  <!--<security>
    <authentication>
      <windowsAuthentication enabled="true" />
    </authentication>
  </security>-->
  </system.webServer>
</configuration>