<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <!-- PACKAGE -->
  <appSettings>

    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />

    <!-- ValidateServerCertificate ALWAYS true IF NOT TEST, the certifiacate points to *.rsv.se  -->
    <add key="ValidateServerCertificate" value="true" />

    <!-- Sender configuration -->
    <add key="SenderOrganizationNumber" value=""/>
    <add key="SenderOrganizationName" value="" />

    <!-- Validation -->
    <add key="RegexValidationPersonNo" value="^(18|19|20)[0-9][0-9](0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])(\d{4})$" />
    <add key="RegexValidationOrganizationNo" value="(16[2-9]\d{9})" />

    <!-- Message configuration -->
    <add key="Language" value="svSE" />
    <add key="DefaultNamespaceV3" value="http://minameddelanden.gov.se/schema/Message/v3" />
    <!--<add key="DefaultNamespaceV3" value="https://notarealhost.skatteverket.se/webservice/acc1accao/Message/v3" />-->
    

    <!-- Signing xml certificate -->
    <add key="SigningCertificateSubjectName" value="" />
    <!-- should the message be signed before delivered -->
    <add key="SignDelivery" value="false" />

    <!-- SupportInfo configuration --><!--
    <add key="SupportInfoEmailAddress" value="peter.stromberg@it.sydnarke.se"/>
    <add key="SupportInfoPhoneNumber" value="058548103"/>
    <add key="SupportInfoText" value="SupportInfoText"/>
    <add key="SupportInfoUri" value="www.lekeberg.se"/>-->

    <!-- Logging -->
    <!-- If you log to file everything logs, trace only logs to file, errors and warnings and info writes to eventview -->
    <add key="WriteToFile" value="true" />
    <add key="LogFilePath" value="D:\Headlight\Sources\Lekeberg.Personal\Delat\logs\packageLogs" />

    <add key="ApplicationName" value="PackageWebService" />
  </appSettings>

  <connectionStrings>
    <add connectionString="Data Source=, 1433; User Id=; password=; Initial Catalog=MinaMeddelanden;" name="SqlDatabase" />
  </connectionStrings>

  <system.web>
    <compilation targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="MessageBinding">
          <security mode="Transport">
            <transport clientCredentialType="Certificate"></transport>
          </security>
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text">
          <readerQuotas maxDepth="2000000" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="PackageBinding" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2000000" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="Transport">
            <transport clientCredentialType="Windows"></transport>
          </security>
        </binding>
        <binding name="DeliveryMailboxBinding">
          <security mode="Transport">
            <transport clientCredentialType="Windows"></transport>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint
        address="https://localhost:44315/DeliveryMailboxService.svc"
        binding="wsHttpBinding"
        bindingConfiguration="DeliveryMailboxBinding"
        contract="DeliveryMailbox.IDeliveryMailbox"
        name="WSHttpBinding_IDeliveryMailbox">
      </endpoint>
      <!-- 
        Endpoint Message V3 
      -->
      <endpoint
        address="https://notarealhost.skatteverket.se/webservice/acc1accao/Message/v3"
        binding="basicHttpBinding"
        bindingConfiguration="MessageBinding"
        contract="MessagePortv3"
        name="MessagePortV3"
        behaviorConfiguration="MessageBinding_Behaviour" />
    </client>
    <services>
      <service name="SE.GOV.MM.Integration.Package.PackageService">
        <endpoint
          address=""
          binding="wsHttpBinding"
          contract="SE.GOV.MM.Integration.Package.Contract.IPackage"
          bindingConfiguration="PackageBinding"
          bindingNamespace="https://SE.GOV.MM.Integration/Package/2015/04" />
        <endpoint
          address="mex"
          binding="mexHttpBinding"
          contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="MessageBinding_Behaviour">
          <clientCredentials>
            <!-- Certificate to connect Message service-->
            <clientCertificate storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName" findValue="Test_Server" />
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="false" />
  </system.serviceModel>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="false" />
  </system.webServer>

</configuration>

